In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [3]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [4]:
import numpy as np

In [5]:
pd.read_csv("data.csv")

,header__reqNo,header__resultCode,header__resultMsg,body__items__item__desertionNo,body__items__item__filename,body__items__item__happenDt,body__items__item__happenPlace,body__items__item__kindCd,body__items__item__colorCd,body__items__item__age,...,body__items__item__careNm,body__items__item__careTel,body__items__item__careAddr,body__items__item__orgNm,body__items__item__chargeNm,body__items__item__officetel,body__items__item__noticeComment,body__numOfRows,body__pageNo,body__totalCount
0,32069376.0,0.0,NORMAL SERVICE.,444450202101068,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,공주시 우금티터널,[개] 믹스견,갈색,2019(년생),...,공주시 동물보호소,041-853-7575,충청남도 공주시 감영길 7 (반죽동),충청남도 공주시,축산유통팀,041-840-8580,NaN,200.0,1.0,8309.0
1,NaN,NaN,NaN,441559202101292,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,장흥면 유원지로 89번길 90 인근,[개] 말티즈,흰,2020(년생),...,한국동물구조관리협회,031-867-9119,경기도 양주시 남면 감악산로 63-37 (남면),경기도 양주시,양주시 동물보호팀,031-8082-7361,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,426328202100505,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,영도 동물병원,[개] 푸들,흰색,2020(년생),...,하얀비둘기,051-293-9779,부산광역시 강서구 제도로 726 (강동동),부산광역시 영도구,유혜정,051-419-6211,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,411306202100780,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,동일로 140길 33 인근,[고양이] 한국 고양이,검,2020(년생),...,한국동물구조관리협회,031-867-9119,경기도 양주시 남면 감악산로 63-37,서울특별시 중랑구,김가희,02-2094-0753,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,450650202105368,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,제주시 삼도일동 서사로 4길 3,[고양이] 한국 고양이,회색,2021(년생),...,제주 동물보호센터,064-710-4065,제주특별자치도 제주시 첨단동길 184-14 (용강동),제주특별자치도,제주동물보호센터,064-710-4065,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,441394202103027,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,선유동 367-1 부근,[개] 믹스견,황색,2019(년생),...,고양시동물보호센터,031-962-3232,"경기도 고양시 덕양구 고양대로 1695 (원흥동, 고양시 농업기술센터) 고양시동물보호센터",경기도 고양시,조재현(유기동물보호),031-8075-4657,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,441394202103026,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,선유동 367-1 부근,[개] 믹스견,황색,2018(년생),...,고양시동물보호센터,031-962-3232,"경기도 고양시 덕양구 고양대로 1695 (원흥동, 고양시 농업기술센터) 고양시동물보호센터",경기도 고양시,조재현(유기동물보호),031-8075-4657,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,441394202103025,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,선유동 367-1 부근,[개] 믹스견,"검정,황색,흰색",2018(년생),...,고양시동물보호센터,031-962-3232,"경기도 고양시 덕양구 고양대로 1695 (원흥동, 고양시 농업기술센터) 고양시동물보호센터",경기도 고양시,조재현(유기동물보호),031-8075-4657,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,441394202103023,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,선유동 367-1 부근,[개] 믹스견,"갈색,검정",2018(년생),...,고양시동물보호센터,031-962-3232,"경기도 고양시 덕양구 고양대로 1695 (원흥동, 고양시 농업기술센터) 고양시동물보호센터",경기도 고양시,조재현(유기동물보호),031-8075-4657,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,441393202102474,http://www.animal.go.kr/files/shelter/2022/01/...,20211231,안산소방서에서 인수,[개] 시바,갈백,2022(년생),...,한국야생동물보호협회,031-296-0124,경기도 안산시 상록구 청곡길 50 (부곡동) 안산시 상록구 부곡동 231-5,경기도 안산시,안산시 농업정책과,031-481-2494,NaN,NaN,NaN,NaN

In [7]:
df = pd.read_csv("data.csv")

In [8]:
df.head()

,header__reqNo,header__resultCode,header__resultMsg,body__items__item__desertionNo,body__items__item__filename,body__items__item__happenDt,body__items__item__happenPlace,body__items__item__kindCd,body__items__item__colorCd,body__items__item__age,...,body__items__item__careNm,body__items__item__careTel,body__items__item__careAddr,body__items__item__orgNm,body__items__item__chargeNm,body__items__item__officetel,body__items__item__noticeComment,body__numOfRows,body__pageNo,body__totalCount
0,32069376.0,0.0,NORMAL SERVICE.,444450202101068,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,공주시 우금티터널,[개] 믹스견,갈색,2019(년생),...,공주시 동물보호소,041-853-7575,충청남도 공주시 감영길 7 (반죽동),충청남도 공주시,축산유통팀,041-840-8580,NaN,200.0,1.0,8309.0
1,NaN,NaN,NaN,441559202101292,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,장흥면 유원지로 89번길 90 인근,[개] 말티즈,흰,2020(년생),...,한국동물구조관리협회,031-867-9119,경기도 양주시 남면 감악산로 63-37 (남면),경기도 양주시,양주시 동물보호팀,031-8082-7361,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,426328202100505,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,영도 동물병원,[개] 푸들,흰색,2020(년생),...,하얀비둘기,051-293-9779,부산광역시 강서구 제도로 726 (강동동),부산광역시 영도구,유혜정,051-419-6211,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,411306202100780,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,동일로 140길 33 인근,[고양이] 한국 고양이,검,2020(년생),...,한국동물구조관리협회,031-867-9119,경기도 양주시 남면 감악산로 63-37,서울특별시 중랑구,김가희,02-2094-0753,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,450650202105368,http://www.animal.go.kr/files/shelter/2021/12/...,20211231,제주시 삼도일동 서사로 4길 3,[고양이] 한국 고양이,회색,2021(년생),...,제주 동물보호센터,064-710-4065,제주특별자치도 제주시 첨단동길 184-14 (용강동),제주특별자치도,제주동물보호센터,064-710-4065,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['header__reqNo', 'header__resultCode', 'header__resultMsg',
       'body__items__item__desertionNo', 'body__items__item__filename',
       'body__items__item__happenDt', 'body__items__item__happenPlace',
       'body__items__item__kindCd', 'body__items__item__colorCd',
       'body__items__item__age', 'body__items__item__weight',
       'body__items__item__noticeNo', 'body__items__item__noticeSdt',
       'body__items__item__noticeEdt', 'body__items__item__popfile',
       'body__items__item__processState', 'body__items__item__sexCd',
       'body__items__item__neuterYn', 'body__items__item__specialMark',
       'body__items__item__careNm', 'body__items__item__careTel',
       'body__items__item__careAddr', 'body__items__item__orgNm',
       'body__items__item__chargeNm', 'body__items__item__officetel',
       'body__items__item__noticeComment', 'body__numOfRows', 'body__pageNo',
       'body__totalCount'],
      dtype='object')

In [12]:
modify_col = ["body__items__item__happenDt", "body__items__item__noticeSdt", "body__items__item__noticeEdt"]

In [13]:
df[modify_col]

,body__items__item__happenDt,body__items__item__noticeSdt,body__items__item__noticeEdt
0,20211231,20220104,20220117
1,20211231,20220104,20220114
2,20211231,20220104,20220114
3,20211231,20220104,20220124
4,20211231,20220103,20220113
...,...,...,...
195,20211231,20211231,20220110
196,20211231,20211231,20220110
197,20211231,20211231,20220110
198,20211231,20211231,20220110
199,20211231,20211231,20220110

In [16]:
df[modify_col]

,body__items__item__happenDt,body__items__item__noticeSdt,body__items__item__noticeEdt
0,20211231,20220104,20220117
1,20211231,20220104,20220114
2,20211231,20220104,20220114
3,20211231,20220104,20220124
4,20211231,20220103,20220113
...,...,...,...
195,20211231,20211231,20220110
196,20211231,20211231,20220110
197,20211231,20211231,20220110
198,20211231,20211231,20220110
199,20211231,20211231,20220110

In [22]:
df[modify_col[0]][1]

20211231

In [24]:
for col in modify_col:
    for i in range(len(df[col])):
        temp = str(df[col][i])
        df[col][i] = f"{temp[:4]}-{temp[4:6]}-{temp[6:]}"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [26]:
df[modify_col]

,body__items__item__happenDt,body__items__item__noticeSdt,body__items__item__noticeEdt
0,2021-12-31,2022-01-04,2022-01-17
1,2021-12-31,2022-01-04,2022-01-14
2,2021-12-31,2022-01-04,2022-01-14
3,2021-12-31,2022-01-04,2022-01-24
4,2021-12-31,2022-01-03,2022-01-13
...,...,...,...
195,2021-12-31,2021-12-31,2022-01-10
196,2021-12-31,2021-12-31,2022-01-10
197,2021-12-31,2021-12-31,2022-01-10
198,2021-12-31,2021-12-31,2022-01-10
199,2021-12-31,2021-12-31,2022-01-10

In [29]:
df.to_csv("modified_data.csv", encoding='utf-8')